.App {
  & > header {
    position: relative;
    height: 100px;
    padding-top: 22px;
    box-shadow: rgba(0,0,0,.5) 0 2px 8px;

    .appLogo {
      display: flex;
      justify-content: space-between;
      width: 370px;
    }

    h1 {
      margin-top: 9px;
      line-height: 1;
      font-size: 34px;
      font-weight: 700;
    }

    h2 {
      margin-top: 12px;
      color: #555;
      font-size: 23px;
    }

    .closeBtn {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      padding: 28px 40px 0;
      font-size: 34px;
      font-weight: 700;
      color: #333;
      border-left: 1px solid #ccc;
      transition: background-color .2s, color .2s;

      &:hover {
        background-color: #cc0000;
        color: #fff;
      }
    }
  }

  & > footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    padding-top: 25px;
    border-top: 3px solid #39b54a;
    background-color: #fff;
    color: #555;
    box-shadow: rgba(0,0,0,.5) 0 2px 8px inset;
    text-align: center;
    font-size: 14px;
  }

  .Tiles {
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    height: 30vh;
    display: flex;
    justify-content: center;
    border-top: 10px solid #39b54a;
    border-left: 1px solid #aaa;

    & > div {
      display: flex;
      width: 1170px;
    }
  }
}