div.select {
  margin-top: 5vh;

  & > div {
    width: 47%;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

input.amount {
  width: 60%;
  border-style: none;
  border-bottom: 1px solid #333;
  text-align: center;
}

select {
  width: 100%;
  border: 1px solid #333;
  border-radius: 4px;

  option {
    background: no-repeat 15px 2px / 36px 36px;
    padding: 10px 10px 10px 65px;
  }
}

input.amount, select {
  padding: 15px 20px;
  font-size: 20px;
  outline-style: none;
  transition: box-shadow .2s ease-in;

  &:focus {
    box-shadow: rgba(0,0,0,.2) 2px 2px 10px;
  }
}

#result {
  margin-top: 50px;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}

