.chartContainer {
  width: 60vw;
  margin-top: 5vh;
  padding-right: 50px;
}

aside {
  width: 35vw;
  padding: 10px 0 0 50px;
}

div.chartCurrencies {
  display: block;
  padding: 30px 40px;
}

ul.tabs {
  list-style-type: none;
  width: 100%;
  margin-bottom: 30px;

  li {
    display: inline-block;
    padding: 10px 0;
    width: 33.333333%;
    text-align: center;
    border-radius: 6px;

    &:not(.active):hover {
      cursor: pointer;
      background-color: #f8f8f8;
    }

    &.active {
      background-color: #39b54a;
      color: #fff;
    }
  }
}

.options {
  margin-top: 5vh;
  text-align: center;

  label {
    margin: 0 50px 0 10px;
    font-weight: 600;
    font-size: 16px;
  }
}

.chartHoverFix {
  position: absolute;
  z-index: 1000;
  background-color: transparent;
  width: 58vw;
  height: 600px;
}

.generate {
  background-color: transparent;
  border: 3px solid #39b54a;
  outline-style: none;
  border-radius: 4px;
  color: #39b54a;
  width: 100%;
  margin-top: 30px;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

.generate:hover {
  color: #fff;
  background-color: #39b54a;
}

.warning {
  color:red;
  font-weight: bold;
  font-size: 50px;
  padding-left: 25px;
  visibility: hidden;
}