.window {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6); }
  .window section {
    width: 800px;
    padding: 45px 35px;
    background-color: #fff;
    border-top: 6px solid #39b54a;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.7) 0 3px 10px; }
  .window header {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 2px;
    border-bottom: 1px solid #aaa; }
    .window header h3 {
      margin-top: 0; }
    .window header button {
      color: #aaa;
      border-style: none;
      background-color: transparent;
      cursor: pointer;
      font-size: 25px;
      outline-style: none; }
      .window header button:hover {
        color: #000; }
  .window ul {
    list-style-type: none;
    margin-top: 15px; }
    .window ul li {
      display: flex;
      justify-content: space-between;
      padding: 20px 30px;
      border-bottom: 1px solid #ddd;
      font-weight: 600; }
      .window ul li:hover {
        background-color: #f8f8f8; }
    .window ul time {
      color: #888; }
  .window .buttons {
    display: flex;
    justify-content: center;
    margin-top: 40px; }
    .window .buttons button {
      outline-style: none;
      cursor: pointer;
      margin: 0 6px;
      padding: 10px 25px;
      color: #30913f;
      background-color: transparent;
      border: 1px solid #30913f;
      border-radius: 4px;
      transition: background-color .2s, color .2s; }
      .window .buttons button:hover {
        background-color: #30913f;
        color: #fff; }

/*# sourceMappingURL=CurrencyRates.css.map */
