.window {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.6);

  section {
    width: 800px;
    padding: 45px 35px;
    background-color: #fff;
    border-top: 6px solid #39b54a;
    border-radius: 6px;
    box-shadow: rgba(0,0,0,.7) 0 3px 10px;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 2px;
    border-bottom: 1px solid #aaa;

    h3 {
      margin-top: 0;
    }

    button {
      color: #aaa;
      border-style: none;
      background-color: transparent;
      cursor: pointer;
      font-size: 25px;
      outline-style: none;

      &:hover {
        color: #000;
      }
    }
  }

  ul {
    list-style-type: none;
    margin-top: 15px;

    li {
      display: flex;
      justify-content: space-between;
      padding: 20px 30px;
      border-bottom: 1px solid #ddd;
      font-weight: 600;

      &:hover {
        background-color: #f8f8f8;
      }
    }

    time {
      color: #888;
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    button {
      outline-style: none;
      cursor: pointer;
      margin: 0 6px;
      padding: 10px 25px;
      color: #30913f;
      background-color: transparent;
      border: 1px solid #30913f;
      border-radius: 4px;
      transition: background-color .2s, color .2s;

      &:hover {
        background-color: #30913f;
        color: #fff;
      }
    }
  }
}