.Currency {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 20px 30px;
  border-bottom: 1px solid #ccc; }
  .Currency:hover {
    background-color: #f8f8f8; }
  .Currency .green {
    color: #00bb00; }
  .Currency .red {
    color: #cc0000; }
  .Currency .blue {
    color: #0346ff; }
  .Currency h4, .Currency div {
    margin-top: 10px; }
  .Currency h4 {
    width: 40%;
    font-size: 21px; }
    .Currency h4 span {
      color: #999;
      font-weight: 600; }
  .Currency div {
    width: 15%;
    font-weight: 600; }

/*# sourceMappingURL=Currency.css.map */
