.Currency {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 20px 30px;
  border-bottom: 1px solid #ccc;

  &:hover {
    background-color: #f8f8f8;
  }

  .green {  color: #00bb00;  }
  .red {  color: #cc0000;  }
  .blue {  color: #0346ff;  }

  h4, div {
    margin-top: 10px;
  }

  h4 {
    width: 40%;
    font-size: 21px;

    span {
      color: #999;
      font-weight: 600;
    }
  }

  div {
    width: 15%;
    font-weight: 600;
  }
}