h3 {
  margin-top: 50px;
  font-size: 17px;
  color: #555;

  time {
    font-style: italic;
  }
}

.LastRates {
  margin-top: 20px;
}

.progressContainer {
  width: 75%;
}

.progressBar {
  background-color: #287936;
  opacity: 0.5;
  margin-top: 60px;
  width: 0;
  height: 6px;
  border-radius: 2px;
}

.changeApi {
  position: absolute;
  left: -270px;
  top: 16vh;
  width: 320px;
  display: flex;
  align-items: flex-start;
  transition: left .3s ease-in;

  &:hover {
    left: -2px;
  }

  .changeApiBody {
    width: 270px;
    padding: 10px 25px 20px;
    background-color: #fff;
    border: 2px solid #39b54a;
  }

  button {
    background-color: #39b54a;
    border-style: none;
    border-radius: 0 5px 5px 0;
    box-shadow: rgba(0,0,0,.4) 2px 2px 3px -1px;
    color: #fff;
    font-size: 25px;
    width: 50px;
    height: 50px;
  }

  h3 {
    margin-top: 0;
    padding: 5px 10px;
    border-bottom: 1px solid #aaa;
  }

  ul {
    padding: 15px 0 0 20px;
    list-style-type: none;

    li {
      padding: 3px 0;

      &.active {
        font-weight: 700;
      }

      &:not(.active):hover {
        color: #39b54a;
        cursor: pointer;
      }
    }
  }
}