html, body {
  position: relative;
  background-color: #fff;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 100vh; }

body.blur .App > *:not(.window) {
  filter: blur(3px); }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a:link, a:visited, a:active, a:hover, a:focus {
  outline-style: none;
  text-decoration: inherit; }

.container {
  max-width: 1170px;
  margin: 0 auto; }

.flex {
  display: flex;
  justify-content: space-between; }

p.container.info {
  margin-top: 5vh;
  padding: 20px 0;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #259133;
  border: 2px solid #39b54a;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 8px; }

p.noResult {
  margin-top: 70px;
  color: #aaa;
  text-align: center;
  font-style: italic;
  font-size: 18px; }

div.box {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  padding: 40px 0;
  border-top: 10px solid #39b54a;
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 8px -2px; }
  div.box label, div.box em {
    padding: 15px 0;
    font-size: 22px;
    font-weight: 700; }
  div.box label {
    padding-right: 40px; }
  div.box em {
    padding-left: 40px; }

.loader {
  border: 4px solid #f3f3f3;
  border-top-color: #777;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 10px auto 0;
  animation: spin 1s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=index.css.map */
