input.date {
  width: 50%;
  border-style: none;
  border-bottom: 1px solid #333;
  text-align: center;
  padding: 15px 20px;
  font-size: 20px;
  outline-style: none;
  transition: box-shadow .2s ease-in;

  &:focus {
    box-shadow: rgba(0,0,0,.2) 2px 2px 10px;
  }
}

.Rates {
  margin-top: 5vh;
  padding-right: 20px;
  max-height: 35vh;
  overflow: auto;

  &::-webkit-scrollbar-track
  {
    background-color: #f2f2f2;
  }

  &::-webkit-scrollbar
  {
    width: 6px;
    background-color: #f2f2f2;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb
  {
    background-color: #555;
    border-radius: 4px;
  }
}

.invalidDate {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: #cc0000;
}