a.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 33.3333333333%;
  background-color: #fff;
  /*border-right: 1px solid #aaa;*/
  color: #444;
  font-weight: bold;
  font-size: 18px;

  &:hover {
    background: linear-gradient(#f5f5f5, #fff);

    img {
      transform: scale(1.05, 1.05);
    }
  }

  img {
    margin-bottom: 20px;
    transition: transform .2s;
  }
}